{%- comment -%} Teaser card for section grids. Expects `include.item` (a portfolio doc). {%- endcomment -%}
{%- assign item = include.item -%}
{%- assign teaser = item.header.teaser | default: item.header.image -%}
{%- if teaser and teaser != '' -%}
  {%- unless teaser contains '://' -%}{%- assign teaser = teaser | prepend: '/' | replace: '//', '/' -%}{%- endunless -%}
{%- endif -%}
<a class="card" href="{{ item.url | relative_url }}">
  <div class="card__media">
    {%- if teaser and teaser != '' -%}
    <img src="{{ teaser | relative_url }}" alt="{{ item.title }}" loading="lazy">
    {%- endif -%}
  </div>
  <div class="card__body">
    <h3 class="card__title">{{ item.title }}</h3>
    <p class="card__excerpt">{{ item.excerpt | strip_html | strip_newlines | truncate: 120 }}</p>
    {%- if item.sections.size > 1 -%}
    <div class="card__tags">
      {%- for s in item.sections -%}<span class="card__tag">{{ s }}</span>{%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</a>
